@model LeapList.Models.AddEditSearchVM

@{
    ViewBag.Title = "Add/Edit Search";
}

<h2>@ViewBag.AddEdit Search</h2>

@using (Html.BeginForm(new { @class = "form-horizontal", id = Model.SearchId }))
{
    <div class="form-group col">
        <div class="row">
            @Html.LabelFor(x => x.SearchText, new { @class = "control-label col-lg-1 col-md-2" })
            @Html.TextBoxFor(x => x.SearchText, new { @class = "form-control col-sm-8" })
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            @Html.LabelFor(x => x.MinPrice, new { @class = "control-label col-lg-1 col-md-2" })
            @Html.TextBoxFor(x => x.MinPrice, new { @class = "form-control col-sm-2" })
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            @Html.LabelFor(x => x.MaxPrice, new { @class = "control-label col-lg-1 col-md-2" })
            @Html.TextBoxFor(x => x.MaxPrice, new { @class = "form-control col-sm-2" })
        </div>
    </div>
    <label class="control-label">Categories</label>
    <div class="form-group">
        <div class="row">
            @for (int i = 0; i < Model.Categories.Count; i++)
            {
                if (i == 0)
                {
                    @Html.Raw("<div class=\"col-md-3\">")
                }
                if (i % 10 == 0 && i != 0)
                {
                    @Html.Raw("</div><div class=\"col-md-3\">")
                }
                <div class="btn-group" data-toggle="buttons">
                    @if (Model.Categories[i].IsChecked)
                    {
                        <label class="btn btn-default active">
                            @Html.CheckBoxFor(c => c.Categories[i].IsChecked, new { @checked = "checked" }) @Model.Categories[i].Name
                            @Html.HiddenFor(m => m.Categories[i].Code)
                            @Html.HiddenFor(m => m.Categories[i].Name)
                        </label>
                    }
                    else
                    {
                        <label class="btn btn-default">
                            @Html.CheckBoxFor(c => c.Categories[i].IsChecked) @Model.Categories[i].Name
                            @Html.HiddenFor(m => m.Categories[i].Code)
                            @Html.HiddenFor(m => m.Categories[i].Name)
                        </label>
                    }
                </div>
            }
            @Html.Raw("</div>")
        </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-default" />
}