@model LeapList.Models.AddSearchVM

@{
    ViewBag.Title = "AddSearch";
}

<h2>Add Search</h2>

@using (Html.BeginForm("AddSearch", "Profile"))
{
    <div>   
        @Html.LabelFor(x =>x.SearchText)
        @Html.TextBoxFor(x => x.SearchText)
    </div>
    <div>
        @Html.LabelFor(x => x.MinPrice)
        @Html.TextBoxFor(x => x.MinPrice)
    </div>
    <div>
        @Html.LabelFor(x => x.MaxPrice)
        @Html.TextBoxFor(x => x.MaxPrice)
    </div>
    <div>
        @for (int i = 0; i < Model.Categories.Count; i++)
        {
            <div>
                @Html.CheckBoxFor(m => m.Categories[i].IsChecked, new { id = @Model.Categories[i].Code })
                @Html.HiddenFor(m => m.Categories[i].Code)
                @Html.HiddenFor(m => m.Categories[i].Name)
                @Html.Label(@Model.Categories[i].Name)
            </div>
        }
    </div>
    <input type="submit" value="Add Search" />
}