@model LeapList.Models.AddSearchVM

@{
    ViewBag.Title = "AddSearch";
}

<h2>Add Search</h2>

@using (Html.BeginForm("AddSearch", "Profile"))
{
    <div>   
        @Html.LabelFor(x =>x.SearchText)
        @Html.TextBoxFor(x => x.SearchText)
    </div>
    <div>
        @Html.LabelFor(x => x.MinPrice)
        @Html.TextBoxFor(x => x.MinPrice)
    </div>
    <div>
        @Html.LabelFor(x => x.MaxPrice)
        @Html.TextBoxFor(x => x.MaxPrice)
    </div>
    <div>
        @*@for (int i = 0; i < Model.Categories.Count; i++)
        {
            Html.HiddenFor(h => h.Categories[i].Code);
            Html.HiddenFor(h => h.Categories[i].Name);
        }*@
        @Html.EditorFor(e => e.Categories)
        
    </div>
    <input type="submit" value="Add Search" />
}