@model List<LeapList.Models.SearchVM>

@{
    ViewBag.Title = "Index";
}

<h2>Hello, @ViewBag.User</h2>


<h3>Searches:</h3>
<table>
    <thead>
        <tr>
            <td>Search</td>
            <td>Min Price</td>
            <td>Max Price</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var svm in Model)
        {
            <tr>
                <td>@svm.SearchText</td>
                <td>@(svm.MinPrice == 0m ? null : svm.MinPrice)</td>
                <td>@(svm.MaxPrice == 0M ? null : svm.MaxPrice)</td>
                <td>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ActionLink("Delete", "DeleteSearch", new { id = svm.SearchId })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="~/Profile/AddSearch" />Add Search</a>