@model List<LeapList.Models.SearchVM>

@{
    ViewBag.Title = "Profile";
}

@*@section jquery{
    <script>
    $(document).on("click", ".open-CategoryModal", function(){
        var mySearchId = $(this).data('id');
        $(".modal-body #searchId").val(mySearchId);
    });
    </script>
}*@

<h2>Hello, @ViewBag.User</h2>

<h3>Searches</h3>

<div class="row">
    <div class="col-sm-8">
        <table id="ProfileTable" class="table table-hover">
            <thead>
                <tr>
                    <td><strong>Search</strong></td>
                    <td><strong>Min Price</strong></td>
                    <td><strong>Max Price</strong></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var svm in Model)
                {
                    <tr data-toggle="modal" data-target="#myModal" data-id="@svm.SearchId">
                        <td>@svm.SearchText</td>
                        <td>@(svm.MinPrice == 0m ? null : svm.MinPrice)</td>
                        <td>@(svm.MaxPrice == 0M ? null : svm.MaxPrice)</td>
                        <td>
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                @Html.ActionLink("Delete", "DeleteSearch", new { id = svm.SearchId })
                            }
                        </td>

                        @Html.Partial("~/Views/Shared/CategoryModal.cshtml", svm.Category)
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <a href="~/Profile/AddSearch" class="btn btn-default" />Add Search</a>
</div>