@model LeapList.Models.CheckBoxCategoryVM
<li>
    <input type="checkbox"
           id="@Model.Code"
           name="selectedCategories"
           value="@Model.Code"
           @(Html.Raw(Model.IsChecked ? "checked=\"checked\"" : "")) />
    <label for="@Model.Code">@Model.Name</label>
    @Html.HiddenFor(h => h.Code)
</li>